* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: crimson;
  min-height: 100vh;
  font-family: Helvetica;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.5em;
  color: bisque;
  margin-bottom: 20px;
}

.cell-container {
  display: grid;
  width: 235px;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  width: 75px;
  height: 75px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0 0 5px black; */
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 200px;
  height: 60px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  background-color: bisque;
  transition: font-size 0.25s ease;
}
.btn:hover {
  font-size: 1.2em;
}
.btn:active {
  font-size: 1em;
}
